
html, body {
	background-color: white;
}

section#section-spash {	
	background-color: #67A5BA;
	height: 100vh;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-around;
}

section#section-spash > img.logo {
	width: 42rem;
	margin: 20px 0;
	flex-grow: 1;
}

@media (max-width: 450px) {
	section#section-spash > img.logo {
		width: 100%;
	}
}

section#section-spash > div.cta {
	margin-top: 16vh;
	margin-bottom: 20px;
}

section#section-another {
  max-width: 960px;
  margin: 0 auto;
}

.contact-us-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-bottom: 20px;
}
 
.trans-button {
	background-color: Transparent;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 2px;
	color: white;                     
	padding: 10px 30px 10px 30px;                 
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	cursor:pointer;
	text-decoration: none;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
}

.trans-button:hover {    
	border-width: 1px;
	border-color: white;
	border-style: solid;
	background-color: white;
	color: #67A5BA;               
}