
html, body {
	background-color: white;
}

section#section-spash {	
	background-color: #67A5BA;
	height: 100vh;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}

section#section-spash > img.logo {
	width: 26rem;
	margin: 20px 0;
	flex-grow: 1;
}

@media (max-width: 450px) {
	section#section-spash > img.logo {
		width: 100%;
	}
}

section#section-spash > a.button {
	margin-bottom: 20px;
}
 
.button {
	background-color: Transparent;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 2px;
	color: white;
	padding: 10px 30px;
	font-size: 11px;
	line-height: 1rem;
	font-weight: 600;
	letter-spacing: .2rem;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
}

.button:hover {    
	border-width: 1px;
	border-color: white;
	border-style: solid;
	background-color: white;
	color: #67A5BA;               
}